extends base.pug

block content
    h4 Update Video
    form(method="POST")
        input(name="title", placeholder="Title", value=video.title, required, type="text", maxlength=80)
        input(name="description", placeholder="Description", required, type="text", minlength=20, value=video.description)
        input(name="hashtags", placeholder="Hashtags, seperated by comma.", required, type="text", value=video.hashtag.join())
        input(value="Save", type="submit")